#primary{
  background-image: url(../assects/images/Background_Intro.png);
  background-size: cover;
  gap: 80px;
  padding-block: 120px 0;

  #hero-info{
    text-align: center;
    max-width: 680px;
    margin-inline: auto;

    gap: 54px;

    #avatar{
      margin-inline: auto;
      width: 112px;
      height: 112px;
      position: relative;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: solid var(--red);
      }
      span{
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 0;
        right: 10px;
        background-image: url(../assects/icons/Code.svg);
        background-size: contain;
      }
    }
    

  }

  #info{
    gap: 20px;
    #title{
        gap: 8px;

      span{
        color: var(--red);
      }
    }
  }

  #tags{
    gap: 16px;

    div{
      gap: 8px;
      padding: 8px 16px;
      border-radius: 999px;
      background-color: var(--gray-300);
    }

    #html svg path{
      fill: var(--red);
    }

    #css svg path{
      fill: var(--blue)
    }

    #js svg path{
      fill: var(--yellow);
    }

    #react svg path{
      fill: var(--blue);
    }

    #nodejs svg path{
      fill: var(--green);
    }
  }
  #arrow{
    margin-bottom: 54px;
  }

}
