/* fonts */
.text-sm{
  font: var(--text-sm);
}
.subtitle{
  font: var(--subtitle);
}
.title-lg{
  font: var(--title-lg);
}
.title-md{
  font: var(--title-md);
}
.title-color{
  color: var(--gray-600);
}
.info-text-color{
  color: var(--gray-400);
}

/* flex */
.direction-row{
  flex-direction: row;
}

.gap-12{
  gap: 12px;
}

/* grid */
.grid{
  display: grid;
}

.grid-cols-3{
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
}

.grid-cols-service{
    grid-template-columns: repeat(auto-fit, minmax(2rem, 18rem));
}
.gap-24{
  gap: 24px;
}